*{
    margin: 0%;
    padding: 0%;
}

/* START: CSS for all Basic Text Tags on Mobile */
h1{
    font-family: 'poppins';
    font-size: 40px;
}
h2{
    font-family: 'poppins';
    font-size: 25px;
    color: #fff;
}
h3{
    font-family: 'poppins';
    font-size: 20px;
    color: #fff;
}
p{
    font-family:'poppins';
    font-size: 12px;
    color: #fff;
}
/* END: CSS for all Basic Text Tags on Mobile */
body{
    background-color: #231F20;
    width: 100vw;
}

header {
    background-color: #f08090;
}

nav {
    background-color: #80f090;
}

main {
    background-color: #8090f0;
}

/* START: Footer */
footer {
    background-color: #231F20;
    height: fit-content;
}

/* START: Logo Footer */
.logo_div{
    display: flex;
    align-content: center;
}
.logo_img{
    margin: auto;
    margin-top: 2vh;
    width: 150px;
    height: 150px;
}
/* END: Logo Footer */


/* START: Footer */
footer h2{
    margin-left: 20%;
    padding-top: 3vh;
    padding-bottom: 2vh;
    color: #fff;
}
footer h3{
    text-align: center;
    padding-top: 3vh;
    padding-bottom: 2vh;
    color: #fff;
}
footer p{
    margin-left: 5%;
    text-align: left;
    padding-bottom: 2vh;
    color: #fff;
    font-size: 16px;
}

.service ion-icon{
    color: #fff;
    padding-right: 10px;
    font-size: 25px;
}
.inline-icon{
    display: flex;
    margin-top: 10px;
}
.footer-grid{
    display: grid;
    place-items:center;
    grid-template-columns: 1fr 2fr 1fr;
    
}

.footer-grid h2{
    margin: 0px;
    text-align: center;
}

.inline-icon ion-icon{
    color: #fff;
    padding-right: 10px;
    font-size: 30px;
}

.inline-icon p{
    display: flex;
    margin: 0px;
    padding: 0px;
    align-items: center;
}

.socialmedia-icons{
    display: flex;
    justify-content: space-around;
    text-align: center;

}
.socialmedia-icons ion-icon {
    font-size: 200%;
    margin-bottom: 40px;
    color: #fff;
}

.copyright{
    padding-bottom: 0px;
    margin-left: 5%;
    text-align: center;
}

/* START: DESKTOP */
@media screen and (min-width: 500px) {
    /* START: CSS for all Basic Text Tags on Desktop*/
h1{
    font-family: 'poppins';
    font-size: 50px;
}

h2{
    font-family: 'poppins';
    font-size: 35px;
}
h3{
    font-family: 'poppins';
    font-size: 25px;
}
p{
    font-family:'poppins';
    font-size: 20px;
}
/* END: CSS for all Basic Text Tags on Desktop*/
}